@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* HEADER */
header {
  background: radial-gradient(#fff, #f3d0ff);
}

/* CONTAINER */
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 50px;
}

/* NAVBAR */
.navbar {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  margin-right: 20px;
  font-size: 19px;
}

a {
  text-decoration: none;
  color: rgb(49, 49, 49);
}

p {
  color: rgb(68, 67, 67);
}

/* ROW */
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: nowrap thì các items sẽ tự động co lại cho chớ không có rớt xuống hàng, điều này dễ làm cho content bên trong(nếu có) bị ép lại có thể gây xấu giao diện. */
  /* ngược lại so với flex-wrap: nowrap khi kích thước container thay đổi và tổng chiều rộng các items cộng lại lớn hơn chiều rộng của container bọc ngoài thì nó sẽ rớt xuống. */
  flex-wrap: wrap;
}

.col-2 {
  /* specifies the initial length of a flexible item. */
  flex-basis: 50%;
  min-width: 300px;
}

/* BANNER */
.col-2 img {
  max-width: 100%;
  height: 45rem;
  float: right;
}

.col-2 h1 {
  font-size: 50px;
  font-weight: bolder;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  /* display: inline-block allows to set a width and height on the element. */
  /* And the top and bottom margins/paddings are respected */
  display: inline-block;
  border-radius: 30px;
  background-color: #e416d3;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
}

.btn:hover {
  background: rgb(137, 4, 149);
}