.HotSellingAccessories {
  padding: 15px 0;
  .container {
    .row-title {
      background-color: #f0bc44;
    }
    .nav-group {
      margin: 1rem 0rem 0rem 0rem;
      .each-nav {
        color: #101e49;
        border: none;
        padding: 10px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        border-radius: 12px;
        transition: all 0.5s;
      }
      .each-nav:hover {
        text-decoration: underline;
      }
      .active {
        color: #0fbdbc;
      }
    }
    .title {
      font-size: 16px;
      font-weight: bold;
      margin: 1rem 0rem 0rem 0rem;
      color: #101e49;
    }
    .card {
      transition: all 0.5s;
      div.col-md-6.my-fix {
        text-align: center;
        position: center center;
        padding: 1rem;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .card-title {
        text-align: center;
        height: 50px;
      }
      .card-text {
        text-align: center;
        font-weight: bold;
        color: #0fbdbc;
        margin-bottom: 1.5rem;
      }
      .my-btn {
        background-color: #0fbdbc;
        color: white;
        padding: 10px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        border-radius: 12px;
        border: 2px solid #0fbdbc;
        transition: all 0.5s;
        width: 100%;
        margin: 0 auto;
      }
      .my-btn:hover {
        background-color: white;
        color: #0fbdbc;
        box-shadow: 3px 3px 2px 2px #c4c4c4;
      }
    }
    .card:hover {
      border: 3px solid #0fbdbc;
      box-shadow: 3px 3px 2px 2px #c4c4c4;
    }
    .all {
      text-align: right;
    }
    .all-content {
      color: #4e4b4b;
      font-style: italic;
    }
    .all-content:hover {
      color: #0fbdbc;
      font-weight: bold;
    }
  }
}
