.prodetail {
  .bg-breadcrumb {
    background-color: #e9ecef !important;
    line-height: 5vh;
    .breadcrum-item {
      a {
        font-weight: bold;
      }
    }
  }

  .container {
    p {
      margin-bottom: 0.5rem;
    }
    .sp {
      padding-top: 2rem;
    }
    .picture-sp {
      margin: 0rem 2rem;
      text-align: center;
    }
    .picture-sp img {
      width: 100%;
      height: 100%;
    }
    .more-pic {
      margin: 1rem 2rem;
      text-align: center;
      opacity: 0.5;
    }
    .more-pic img {
      width: 6rem;
    }
    .info-sp {
      .name {
        font-size: 27px;
        margin: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .price {
        font-weight: bold;
        margin-bottom: 0.5rem;
        .now-price {
          font-size: 22px;
          color: #e61010;
          font-weight: 700;
        }
        .real-price {
          padding-left: 0.5rem;
          margin-top: 0.5rem;
          text-align: left;
          font-size: 1rem;
          text-decoration: line-through;
          font-size: 15px;
          color: #4e4b4b;
        }
      }
      .info-box {
        margin-left: 0.1rem;
        padding: 0.5rem 0rem;
        background-color: #f6f1f1;
        border: 2px #c4c4c4 solid;
        border-radius: 10px;
        font-size: 0.9rem;
        color: black;
        img {
          width: 1rem;
          margin-right: 0.5rem;
        }
        a {
          color: #0fbdbc;
          font-style: italic;
        }
      }
      .add {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        .add-container {
          display: flex;
          align-items: center;
          .btnLove {
            &:focus {
              box-shadow: none;
            }
            .iconLoveWhite {
              font-size: 25px;
            }
            .iconLoveRed {
              font-size: 25px;
              color: red;
            }
          }
        }
        .buttons_added {
          opacity: 1;
          display: inline-block;
          display: -ms-inline-flexbox;
          display: inline-flex;
          white-space: nowrap;
          vertical-align: top;
        }
        .is-form {
          overflow: hidden;
          position: relative;
          background-color: #f9f9f9;
          height: 2.2rem;
          width: 1.9rem;
          padding: 0;
          text-shadow: 1px 1px 1px #fff;
          border: 1px solid #ddd;
        }
        .is-form:focus,
        .input-text:focus {
          outline: none;
        }
        .is-form.minus {
          border-radius: 4px 0 0 4px;
        }
        .is-form.plus {
          border-radius: 0 4px 4px 0;
        }
        .input-qty {
          background-color: #fff;
          height: 2.2rem;
          width: 1.9rem;
          text-align: center;
          font-size: 1rem;
          display: inline-block;
          vertical-align: top;
          margin: 0;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          border-left: 0;
          border-right: 0;
          padding: 0;
        }
        .input-qty::-webkit-outer-spin-button,
        .input-qty::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        .btn-add-cart {
          cursor: pointer;
          display: inline-block;
          font-size: 20px;
          font-weight: 700;
          padding: 3px 30px 7px 30px;
          margin: 0rem 0.5rem;
          background-color: #0fbdbc;
          color: white;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 5px;
          border: 3px solid #0fbdbc;
          transition: all 0.5s;
        }
        .btn-add-cart:hover {
          background-color: #fff;
          color: #0fbdbc;
          border: 3px solid #0fbdbc;

          // box-shadow: 2px 2px 1px 1px #c4c4c4;
        }
      }
      .like-comp {
        padding-top: 1rem;
        img {
          width: 1rem;
          margin-right: 0.2rem;
          margin-bottom: 0.2rem;
        }
        button {
          font-weight: bold;
          color: #0fbdbc;
          border: none;
          background-color: #fff;
        }
        button:hover {
          color: #024455;
        }
      }
    }

    .nav {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      .nav-tabs {
        border-bottom: 1px solid #ddd;
      }
      li {
        float: left;
        margin-bottom: -10px;
        position: relative;
        display: block;

        p {
          color: #555;
          cursor: default;
          background-color: #fff;
          border: 1px solid #ddd;
          border-bottom-color: transparent;
          margin-right: 2px;
          line-height: 1.42857143;
          border-radius: 4px 4px 0 0;
          position: relative;
          padding: 10px 15px;
        }
      }
    }

    .tab-content {
      border: 1px solid #ddd;
      border-top: none;
      padding: 10px;
      display: block;
      max-width: 100% !important;

      h3 {
        font-size: 17pt;
        color: #0fbdbc;
        font-weight: 700px;
        text-decoration: underline;
      }
      table {
        background-color: #ffffff;
        border-collapse: collapse;
        border-spacing: 0px;
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        color: #333333;
        font-size: 17px;
        line-height: 20px;
        margin: 20px;
        max-width: 100%;
        min-width: 500px;
        width: 1200px;
      }
    }
  }
}
